@import url('./__container/comments__container.css');

.comments {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 102px 48px 0;
}

@media screen and (max-width: 1024px) {
  .comments {
    max-width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .comments {
    padding: 102px 54px 0;
  }
}

@media screen and (max-width: 375px) {
  .comments {
    padding: 64px 16px 0;
  }
}

