.cover__subtitle {
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  margin: auto;
  padding-bottom: 48px;
  max-width: 382px;
  z-index: 1;
}

@media screen and (max-width: 768px) {
  .cover__subtitle {
    margin: 0 auto;
    padding-bottom: 40px;
  }
}

@media screen and (max-width: 375px) {
  .cover__subtitle {
    font-size: 14px;
    line-height: 17px;
    padding: 0 16px 24px;
  }
}